{{>partials/header}}
<h1>Quantos anos vc tem ?</h1>

<form method="post" >
<input type="number" name="ano" placeholder="Digite o seu nascimento"/>
<input type="submit" value="Enviar" />
</form>

<hr/>

{{#mostrarIdade}}
Voce tem {{idade}} anos
{{/mostrarIdade}}
{{>partials/footer}}