{{>partials/header}}
<body>
  <h1>Lorem Ipsum</h1>
  {{! NOME }}
  <hr/>
  Eu sou {{name}} {{lastName}} !
  {{#showOld}}
  Vc é velho!
  {{/showOld}}
  {{^showOld}}
  Vc é jovem!
  {{/showOld}}
  <hr/>

  <h2>Lista de produtos</h2>
  <ul>
  {{! PRODUTOS }}
  {{#products}}
{{>partials/productItem}}
  {{/products}}
  </ul>
<hr/>
  <h2>Lista de produtos acima de R$10</h2>
  <ul>
  {{! PRODUTOS }}
  {{#expensive}}
{{>partials/productItem}}
  {{/expensive}}
  </ul>
<hr/>

{{! FRASE DO DIA }}
<ul>
{{#dayPhrase}}
<li>{{.}}</li>
{{/dayPhrase}}

{{^dayPhrase}}
NADA DE FRASE HOJE
{{/dayPhrase}}

</ul>

{{>partials/footer}}