<html>
<head>
  <title>Hello World!</title>
  </head>
<body>
  <h1>Lorem Ipsum</h1>
  <hr/>
  Eu sou {{name}} {{lastName}} !
  {{#showOld}}
  Vc é velho
  {{/showOld}}
  <hr/>

  <h2>Lista de produtos</h2>
  <ul>
  
  {{#products}}
  <li>{{title}} - R$ {{price}}</li>
  {{/products}}
  </ul>
<hr/>
<ul>
{{#dayPhrase}}
<li>{{.}}</li>
{{/dayPhrase}}
</ul>
</body>
</html>